<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <file>src/Framework/Assert/Functions.php</file>
        </exclude>
    </source>

    <php>
        <ini name="precision" value="14"/>
        <ini name="serialize_precision" value="14"/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>